#mapid {
  height: calc(100vh - 18vh);
  //height: 50vw; /* Full height of the viewport */
  //width: 100%;   /* 70% of the viewport width */
  //float: left;   /* Float to the left */
}

.custom-car-icon {
  color: blue; /* Change the color of the car icon */
  font-size: 320px; /* Set the font size */
}

//#positionData {
//  height: 100vh;
//  width: 30vw;
//  float: right;
//  overflow-y: auto;
//  padding: 10px;
//  background-color: #f4f4f9;
//}
//
//.outerBox {
//  border: 1px solid #ccc;
//  padding: 10px;
//  margin-bottom: 10px;
//}
//
//.vehicleInfo {
//  padding-left: 10px;
//}
