:host {

  .home-wrapper {
    border: red 1px solid;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    gap: 20px;
    max-height: (100vh - 18vh);

    .journey {
      grid-column: 1/11;
      max-height: calc(100vh - 18vh);
    }

    .map {
      max-height: calc(100vh - 18vh);
      grid-column: 11 / 31;
    }
  }
}
